.username {
    font-size: 16px;
    font-weight: bolder;
}

.welcome {
    color: white;
    font-weight: 600;
}

.logout {
    font-size: 15px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}